openapi: 3.2.0
info:
  title: Genialis base Prediction Group API
  version: 0.0.0
  description: Backend of the Genialis platform.
servers:
- url: https://app.genialis.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Prediction Group
paths:
  /api/prediction_group:
    get:
      operationId: api_prediction_group_list
      description: Prediction fields viewset.
      parameters:
      - in: query
        name: id
        schema:
          type: integer
      - in: query
        name: id__gt
        schema:
          type: integer
      - in: query
        name: id__gte
        schema:
          type: integer
      - in: query
        name: id__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: id__isnull
        schema:
          type: boolean
      - in: query
        name: id__lt
        schema:
          type: integer
      - in: query
        name: id__lte
        schema:
          type: integer
      - in: query
        name: label
        schema:
          type: string
      - in: query
        name: label__contains
        schema:
          type: string
      - in: query
        name: label__icontains
        schema:
          type: string
      - in: query
        name: label__iexact
        schema:
          type: string
      - in: query
        name: label__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: label__isnull
        schema:
          type: boolean
      - in: query
        name: label__istartswith
        schema:
          type: string
      - in: query
        name: label__startswith
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: name__contains
        schema:
          type: string
      - in: query
        name: name__icontains
        schema:
          type: string
      - in: query
        name: name__iexact
        schema:
          type: string
      - in: query
        name: name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: name__isnull
        schema:
          type: boolean
      - in: query
        name: name__istartswith
        schema:
          type: string
      - in: query
        name: name__startswith
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: sort_order
        schema:
          type: integer
      - in: query
        name: sort_order__gt
        schema:
          type: integer
      - in: query
        name: sort_order__gte
        schema:
          type: integer
      - in: query
        name: sort_order__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: sort_order__isnull
        schema:
          type: boolean
      - in: query
        name: sort_order__lt
        schema:
          type: integer
      - in: query
        name: sort_order__lte
        schema:
          type: integer
      tags:
      - Prediction Group
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPredictionGroupList'
          description: ''
      summary: Api prediction group list
      x-summary-source: derived
    post:
      operationId: api_prediction_group_create
      description: Create a resource.
      tags:
      - Prediction Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictionGroup'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PredictionGroup'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PredictionGroup'
        required: true
      security:
      - cookieAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionGroup'
          description: ''
      summary: Api prediction group create
      x-summary-source: derived
  /api/prediction_group/{id}:
    get:
      operationId: api_prediction_group_retrieve
      description: Prediction fields viewset.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this prediction group.
        required: true
      tags:
      - Prediction Group
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionGroup'
          description: ''
      summary: Api prediction group retrieve
      x-summary-source: derived
    put:
      operationId: api_prediction_group_update
      description: Prediction fields viewset.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this prediction group.
        required: true
      tags:
      - Prediction Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictionGroup'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PredictionGroup'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PredictionGroup'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionGroup'
          description: ''
      summary: Api prediction group update
      x-summary-source: derived
    patch:
      operationId: api_prediction_group_partial_update
      description: Prediction fields viewset.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this prediction group.
        required: true
      tags:
      - Prediction Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPredictionGroup'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPredictionGroup'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPredictionGroup'
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionGroup'
          description: ''
      summary: Api prediction group partial update
      x-summary-source: derived
    delete:
      operationId: api_prediction_group_destroy
      description: Prediction fields viewset.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this prediction group.
        required: true
      tags:
      - Prediction Group
      security:
      - cookieAuth: []
      responses:
        '204':
          description: No response body
      summary: Api prediction group destroy
      x-summary-source: derived
components:
  schemas:
    PatchedPredictionGroup:
      type: object
      description: Serializer for PredictionGroup objects.
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
        label:
          type: string
          maxLength: 128
        sort_order:
          type: integer
          maximum: 32767
          minimum: 0
    PredictionGroup:
      type: object
      description: Serializer for PredictionGroup objects.
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
        label:
          type: string
          maxLength: 128
        sort_order:
          type: integer
          maximum: 32767
          minimum: 0
      required:
      - id
      - label
      - sort_order
    PaginatedPredictionGroupList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/PredictionGroup'
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
