openapi: 3.2.0
info:
  title: Genialis base Group API
  version: 0.0.0
  description: Backend of the Genialis platform.
servers:
- url: https://app.genialis.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Group
paths:
  /api/group:
    get:
      operationId: api_group_list
      description: API view for :class:`Group` objects.
      parameters:
      - in: query
        name: id
        schema:
          type: integer
      - in: query
        name: id__gt
        schema:
          type: integer
      - in: query
        name: id__gte
        schema:
          type: integer
      - in: query
        name: id__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: id__isnull
        schema:
          type: boolean
      - in: query
        name: id__lt
        schema:
          type: integer
      - in: query
        name: id__lte
        schema:
          type: integer
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: name__contains
        schema:
          type: string
      - in: query
        name: name__icontains
        schema:
          type: string
      - in: query
        name: name__iexact
        schema:
          type: string
      - in: query
        name: name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: name__isnull
        schema:
          type: boolean
      - in: query
        name: name__istartswith
        schema:
          type: string
      - in: query
        name: name__startswith
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      tags:
      - Group
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedGroupList'
          description: ''
      summary: Api group list
      x-summary-source: derived
    post:
      operationId: api_group_create
      description: API view for :class:`Group` objects.
      tags:
      - Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Group'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Group'
        required: true
      security:
      - cookieAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: ''
      summary: Api group create
      x-summary-source: derived
  /api/group/{id}:
    put:
      operationId: api_group_update
      description: API view for :class:`Group` objects.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this group.
        required: true
      tags:
      - Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Group'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Group'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: ''
      summary: Api group update
      x-summary-source: derived
    patch:
      operationId: api_group_partial_update
      description: API view for :class:`Group` objects.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this group.
        required: true
      tags:
      - Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedGroup'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedGroup'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedGroup'
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: ''
      summary: Api group partial update
      x-summary-source: derived
  /api/group/{id}/add_users:
    post:
      operationId: api_group_add_users_create
      description: Endpoint for adding users to group.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this group.
        required: true
      tags:
      - Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrRemoveUsers'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AddOrRemoveUsers'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AddOrRemoveUsers'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          description: No response body
      summary: Api group add users create
      x-summary-source: derived
  /api/group/{id}/remove_users:
    post:
      operationId: api_group_remove_users_create
      description: Endpoint for removing users from group.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this group.
        required: true
      tags:
      - Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOrRemoveUsers'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AddOrRemoveUsers'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AddOrRemoveUsers'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          description: No response body
      summary: Api group remove users create
      x-summary-source: derived
components:
  schemas:
    PaginatedGroupList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/Group'
    AddOrRemoveUsers:
      type: object
      description: Serializer for adding or removing users from a group.
      properties:
        user_ids:
          type: array
          items:
            type: integer
      required:
      - user_ids
    Group:
      type: object
      description: Serializer for :class:`Group` objects.
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 150
        users:
          type: array
          items:
            type: integer
          readOnly: true
      required:
      - id
      - name
      - users
    PatchedGroup:
      type: object
      description: Serializer for :class:`Group` objects.
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 150
        users:
          type: array
          items:
            type: integer
          readOnly: true
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
