openapi: 3.2.0
info:
  title: Genialis base Sample API
  version: 0.0.0
  description: Backend of the Genialis platform.
servers:
- url: https://app.genialis.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Sample
paths:
  /api/sample:
    get:
      operationId: api_sample_list
      description: 'The extended resolwe Entity viewset.


        It contains method to set predictios.'
      parameters:
      - in: query
        name: annotations
        schema:
          type: string
      - in: query
        name: basket
        schema:
          type: string
      - in: query
        name: collection
        schema:
          type: integer
      - in: query
        name: collection__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: collection__isnull
        schema:
          type: boolean
      - in: query
        name: collection__name
        schema:
          type: string
      - in: query
        name: collection__name__contains
        schema:
          type: string
      - in: query
        name: collection__name__icontains
        schema:
          type: string
      - in: query
        name: collection__name__iexact
        schema:
          type: string
      - in: query
        name: collection__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: collection__name__isnull
        schema:
          type: boolean
      - in: query
        name: collection__name__istartswith
        schema:
          type: string
      - in: query
        name: collection__name__startswith
        schema:
          type: string
      - in: query
        name: collection__slug
        schema:
          type: string
      - in: query
        name: collection__slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: contributor
        schema:
          type: integer
      - in: query
        name: contributor__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: contributor_name
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
          format: date-time
      - in: query
        name: created__date
        schema:
          type: string
          format: date
      - in: query
        name: created__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: created__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: created__isnull
        schema:
          type: boolean
      - in: query
        name: created__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: created__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: created__time
        schema:
          type: string
          format: time
      - in: query
        name: description
        schema:
          type: string
      - in: query
        name: description__contains
        schema:
          type: string
      - in: query
        name: description__icontains
        schema:
          type: string
      - in: query
        name: description__iexact
        schema:
          type: string
      - in: query
        name: description__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: description__isnull
        schema:
          type: boolean
      - in: query
        name: description__istartswith
        schema:
          type: string
      - in: query
        name: description__startswith
        schema:
          type: string
      - in: query
        name: descriptor__disease_information__disease_status__iexact
        schema:
          type: string
      - in: query
        name: descriptor__disease_information__disease_type__icontains
        schema:
          type: string
      - in: query
        name: descriptor__general__biosample_source__icontains
        schema:
          type: string
      - in: query
        name: descriptor__general__biosample_treatment__icontains
        schema:
          type: string
      - in: query
        name: descriptor__general__description__icontains
        schema:
          type: string
      - in: query
        name: descriptor__immuno_oncology_treatment_type__io_drug__iexact
        schema:
          type: string
      - in: query
        name: descriptor__immuno_oncology_treatment_type__io_treatment__iexact
        schema:
          type: string
      - in: query
        name: descriptor__response_and_survival_analysis__confirmed_bor__iexact
        schema:
          type: string
      - in: query
        name: descriptor__response_and_survival_analysis__pfs_event__iexact
        schema:
          type: string
      - in: query
        name: descriptor__subject_information__batch__exact
        schema:
          type: string
      - in: query
        name: descriptor__subject_information__group__iexact
        schema:
          type: string
      - in: query
        name: descriptor__subject_information__sample_label__icontains
        schema:
          type: string
      - in: query
        name: descriptor__subject_information__subject_id__icontains
        schema:
          type: string
      - in: query
        name: group
        schema:
          type: string
      - in: query
        name: id
        schema:
          type: integer
      - in: query
        name: id__gt
        schema:
          type: integer
      - in: query
        name: id__gte
        schema:
          type: integer
      - in: query
        name: id__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: id__isnull
        schema:
          type: boolean
      - in: query
        name: id__lt
        schema:
          type: integer
      - in: query
        name: id__lte
        schema:
          type: integer
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: modified
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__date
        schema:
          type: string
          format: date
      - in: query
        name: modified__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__isnull
        schema:
          type: boolean
      - in: query
        name: modified__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__time
        schema:
          type: string
          format: time
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: name__contains
        schema:
          type: string
      - in: query
        name: name__icontains
        schema:
          type: string
      - in: query
        name: name__iexact
        schema:
          type: string
      - in: query
        name: name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: name__isnull
        schema:
          type: boolean
      - in: query
        name: name__istartswith
        schema:
          type: string
      - in: query
        name: name__startswith
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: owners
        schema:
          type: integer
      - in: query
        name: owners_name
        schema:
          type: string
      - in: query
        name: permission
        schema:
          type: string
      - in: query
        name: relation_id
        schema:
          type: integer
      - in: query
        name: shared_with_me
        schema:
          type: boolean
      - in: query
        name: slug
        schema:
          type: string
      - in: query
        name: slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: status
        schema:
          type: string
      - in: query
        name: status__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: tags
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: variant_calls__variant
        schema:
          type: integer
      - in: query
        name: variant_calls__variant__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: variant_calls__variant__isnull
        schema:
          type: boolean
      - in: query
        name: version
        schema:
          type: string
      - in: query
        name: version__gt
        schema:
          type: string
      - in: query
        name: version__gte
        schema:
          type: string
      - in: query
        name: version__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: version__isnull
        schema:
          type: boolean
      - in: query
        name: version__lt
        schema:
          type: string
      - in: query
        name: version__lte
        schema:
          type: string
      tags:
      - Sample
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEntitySerializerWithPermissionsList'
          description: ''
      summary: Api sample list
      x-summary-source: derived
    post:
      operationId: api_sample_create
      description: Only authenticated users can create new collections.
      tags:
      - Sample
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySerializerWithPermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EntitySerializerWithPermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EntitySerializerWithPermissions'
        required: true
      security:
      - cookieAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySerializerWithPermissions'
          description: ''
      summary: Api sample create
      x-summary-source: derived
  /api/sample/{id}:
    get:
      operationId: api_sample_retrieve
      description: 'The extended resolwe Entity viewset.


        It contains method to set predictios.'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this entity.
        required: true
      tags:
      - Sample
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySerializerWithPermissions'
          description: ''
      summary: Api sample retrieve
      x-summary-source: derived
    put:
      operationId: api_sample_update
      description: 'Update an entity.


        Original queryset produces a temporary database table whose rows

        cannot be selected for an update. As a workaround, we patch

        get_queryset function to return only Entity objects without

        additional data that is not needed for the update.'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this entity.
        required: true
      tags:
      - Sample
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySerializerWithPermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EntitySerializerWithPermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EntitySerializerWithPermissions'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySerializerWithPermissions'
          description: ''
      summary: Api sample update
      x-summary-source: derived
    patch:
      operationId: api_sample_partial_update
      description: 'The extended resolwe Entity viewset.


        It contains method to set predictios.'
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this entity.
        required: true
      tags:
      - Sample
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedEntitySerializerWithPermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedEntitySerializerWithPermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedEntitySerializerWithPermissions'
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySerializerWithPermissions'
          description: ''
      summary: Api sample partial update
      x-summary-source: derived
    delete:
      operationId: api_sample_destroy
      description: Delete a resource.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this entity.
        required: true
      tags:
      - Sample
      security:
      - cookieAuth: []
      responses:
        '204':
          description: No response body
      summary: Api sample destroy
      x-summary-source: derived
  /api/sample/{id}/permissions:
    get:
      operationId: api_sample_permissions_retrieve
      description: Get or set permissions API endpoint.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this entity.
        required: true
      tags:
      - Sample
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUserPermissions'
          description: ''
      summary: Api sample permissions retrieve
      x-summary-source: derived
    post:
      operationId: api_sample_permissions_create
      description: Get or set permissions API endpoint.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this entity.
        required: true
      tags:
      - Sample
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Permission'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Permission'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Permission'
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUserPermissions'
          description: ''
      summary: Api sample permissions create
      x-summary-source: derived
  /api/sample/{id}/set_annotations:
    post:
      operationId: api_sample_set_annotations_create
      description: Add the given list of AnnotationFields to the given entity.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this entity.
        required: true
      tags:
      - Sample
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AnnotationsByPath'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AnnotationsByPath'
          multipart/form-data:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AnnotationsByPath'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          description: No response body
      summary: Api sample set annotations create
      x-summary-source: derived
  /api/sample/{id}/set_predictions:
    post:
      operationId: api_sample_set_predictions_create
      description: Add the given list of PredictionField to the given entity.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this entity.
        required: true
      tags:
      - Sample
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PredictionsByPath'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PredictionsByPath'
          multipart/form-data:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PredictionsByPath'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          description: No response body
      summary: Api sample set predictions create
      x-summary-source: derived
  /api/sample/bulk_delete:
    post:
      operationId: api_sample_bulk_delete_create
      description: 'Bulk delete objects in the background.


        The background task is returned.'
      tags:
      - Sample
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Delete'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Delete'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Delete'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundTask'
          description: ''
      summary: Api sample bulk delete create
      x-summary-source: derived
  /api/sample/duplicate:
    post:
      operationId: api_sample_duplicate_create
      description: 'Bulk duplicate objects in the background.


        The background task is returned.'
      tags:
      - Sample
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Duplicate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Duplicate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Duplicate'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundTask'
          description: ''
      summary: Api sample duplicate create
      x-summary-source: derived
  /api/sample/move_to_collection:
    post:
      operationId: api_sample_move_to_collection_create
      description: Move samples from source to destination collection.
      tags:
      - Sample
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEntityToCollection'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MoveEntityToCollection'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MoveEntityToCollection'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          description: No response body
      summary: Api sample move to collection create
      x-summary-source: derived
  /api/sample/slug_exists:
    get:
      operationId: api_sample_slug_exists_retrieve
      description: 'Check if given url slug exists.


        Check if slug given in query parameter ``name`` exists. Return

        ``True`` if slug already exists and ``False`` otherwise.'
      parameters:
      - in: query
        name: name
        schema:
          type: string
          minLength: 1
        required: true
      tags:
      - Sample
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: boolean
          description: ''
      summary: Api sample slug exists retrieve
      x-summary-source: derived
  /api/sample/subscribe:
    post:
      operationId: api_sample_subscribe_create
      description: Register an Observer for a resource.
      tags:
      - Sample
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObserverSubscribeRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ObserverSubscribeRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ObserverSubscribeRequest'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObserverSubscription'
          description: ''
      summary: Api sample subscribe create
      x-summary-source: derived
  /api/sample/unsubscribe:
    post:
      operationId: api_sample_unsubscribe_create
      description: Unregister a subscription.
      tags:
      - Sample
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObserverSubscription'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ObserverSubscription'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ObserverSubscription'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          description: No response body
      summary: Api sample unsubscribe create
      x-summary-source: derived
components:
  schemas:
    PredictionsByPath:
      type: object
      description: Serializer that reads prediction field and its value.
      properties:
        field_path:
          type: string
          maxLength: 257
        value: {}
      required:
      - field_path
      - value
    BackgroundTask:
      type: object
      description: Serialize the BackgroundTask model.
      properties:
        id:
          type: integer
          readOnly: true
        started:
          type:
          - string
          - 'null'
          format: date-time
        finished:
          type:
          - string
          - 'null'
          format: date-time
        status:
          $ref: '#/components/schemas/BackgroundTaskStatusEnum'
        description:
          type: string
          maxLength: 256
        output: {}
      required:
      - description
      - id
    RelationshipDict:
      type: object
      description: Serializer for the DictRelatedField relation.
      properties:
        id:
          type: integer
        slug:
          type:
          - string
          - 'null'
    ObserverSubscription:
      type: object
      description: Serializer for the subscribe response.
      properties:
        subscription_id:
          type: string
          format: uuid
      required:
      - subscription_id
    Delete:
      type: object
      description: Bulk delete given objects.
      properties:
        ids:
          type: array
          items:
            type: integer
      required:
      - ids
    Permission:
      type: object
      description: 'Permission serializer.


        Dictionary keys for users and groups are either ids or usernames (emails) or group names.'
      properties:
        users:
          type: object
          additionalProperties:
            enum:
            - VIEW
            - EDIT
            - SHARE
            - OWNER
            type: string
            description: '* `VIEW` - VIEW

              * `EDIT` - EDIT

              * `SHARE` - SHARE

              * `OWNER` - OWNER'
        groups:
          type: object
          additionalProperties:
            enum:
            - VIEW
            - EDIT
            - SHARE
            - OWNER
            type: string
            description: '* `VIEW` - VIEW

              * `EDIT` - EDIT

              * `SHARE` - SHARE

              * `OWNER` - OWNER'
        public:
          $ref: '#/components/schemas/PublicEnum'
    PermissionsEnum:
      enum:
      - none
      - view
      - edit
      - share
      - owner
      type: string
      description: '* `none` - none

        * `view` - view

        * `edit` - edit

        * `share` - share

        * `owner` - owner'
    Contributor:
      type: object
      description: Serializer for contributor User objects.
      properties:
        first_name:
          type: string
          maxLength: 150
        id:
          type: integer
          readOnly: true
        last_name:
          type: string
          maxLength: 150
        username:
          type: string
          description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
          pattern: ^[\w.@+-]+$
          maxLength: 150
      required:
      - id
      - username
    Duplicate:
      type: object
      description: Deserializer for duplicate endpoint.
      properties:
        ids:
          type: array
          items:
            type: integer
      required:
      - ids
    EntitySerializerWithPermissions:
      type: object
      description: Serializer for Entity with added collection field.
      properties:
        created:
          type: string
          format: date-time
          readOnly: true
        duplicated:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        id:
          type: integer
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
        data_count:
          type: integer
          description: Return number of data objects on the collection.
          readOnly: true
        status:
          type: string
          readOnly: true
        contributor:
          $ref: '#/components/schemas/Contributor'
        description:
          type: string
        name:
          type: string
        settings: {}
        slug:
          type:
          - string
          - 'null'
        tags:
          type: array
          items:
            type: string
            maxLength: 255
        collection:
          allOf:
          - $ref: '#/components/schemas/RelationshipDict'
        type:
          type:
          - string
          - 'null'
          maxLength: 100
        current_user_permissions:
          type: array
          items:
            $ref: '#/components/schemas/CurrentUserPermissions'
          readOnly: true
      required:
      - contributor
      - created
      - current_user_permissions
      - data_count
      - duplicated
      - id
      - modified
      - status
    PublicEnum:
      enum:
      - VIEW
      - EDIT
      - SHARE
      - OWNER
      type: string
      description: '* `VIEW` - VIEW

        * `EDIT` - EDIT

        * `SHARE` - SHARE

        * `OWNER` - OWNER'
    CurrentUserPermissionsTypeEnum:
      enum:
      - user
      - group
      - public
      type: string
      description: '* `user` - user

        * `group` - group

        * `public` - public'
    PaginatedEntitySerializerWithPermissionsList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/EntitySerializerWithPermissions'
    MoveEntityToCollection:
      type: object
      description: Serializer for moving entities to a collection.
      properties:
        ids:
          type: array
          items:
            type: integer
        destination_collection:
          type: integer
      required:
      - destination_collection
      - ids
    AnnotationsByPath:
      type: object
      description: Serializer that reads annotation field and its value.
      properties:
        field_path:
          type: string
          maxLength: 257
        value: {}
      required:
      - field_path
      - value
    CurrentUserPermissions:
      type: object
      description: Current user permissions serializer.
      properties:
        id:
          type: integer
        type:
          $ref: '#/components/schemas/CurrentUserPermissionsTypeEnum'
        name:
          type: string
          maxLength: 100
        username:
          type: string
          maxLength: 150
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionsEnum'
      required:
      - permissions
      - type
    PatchedEntitySerializerWithPermissions:
      type: object
      description: Serializer for Entity with added collection field.
      properties:
        created:
          type: string
          format: date-time
          readOnly: true
        duplicated:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        id:
          type: integer
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
        data_count:
          type: integer
          description: Return number of data objects on the collection.
          readOnly: true
        status:
          type: string
          readOnly: true
        contributor:
          $ref: '#/components/schemas/Contributor'
        description:
          type: string
        name:
          type: string
        settings: {}
        slug:
          type:
          - string
          - 'null'
        tags:
          type: array
          items:
            type: string
            maxLength: 255
        collection:
          allOf:
          - $ref: '#/components/schemas/RelationshipDict'
        type:
          type:
          - string
          - 'null'
          maxLength: 100
        current_user_permissions:
          type: array
          items:
            $ref: '#/components/schemas/CurrentUserPermissions'
          readOnly: true
    ObserverSubscribeRequest:
      type: object
      description: Serializer for the subscribe endpoint.
      properties:
        ids:
          type:
          - array
          - 'null'
          items:
            type: integer
        session_id:
          type: string
      required:
      - session_id
    BackgroundTaskStatusEnum:
      enum:
      - WT
      - PR
      - OK
      - ER
      type: string
      description: '* `WT` - Waiting

        * `PR` - Processing

        * `OK` - Done

        * `ER` - Error'
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
