openapi: 3.2.0
info:
  title: Genialis base Configuration API
  version: 0.0.0
  description: Backend of the Genialis platform.
servers:
- url: https://app.genialis.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Configuration
paths:
  /api/configuration:
    get:
      operationId: api_configuration_list
      description: Return configuration list.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      tags:
      - Configuration
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedConfigurationList'
          description: ''
      summary: Api configuration list
      x-summary-source: derived
  /api/configuration/{community__slug}:
    get:
      operationId: api_configuration_retrieve
      description: API view for :class:`Configuration` objects.
      parameters:
      - in: path
        name: community__slug
        schema:
          type: string
        required: true
      tags:
      - Configuration
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
          description: ''
      summary: Api configuration retrieve
      x-summary-source: derived
components:
  schemas:
    SearchTableFileColumn:
      type: object
      description: Serializer for :class:`SearchTableFileColumn` objects.
      properties:
        id:
          type: integer
          readOnly: true
        type:
          type: string
        label:
          type: string
        file_path:
          type: string
        action:
          $ref: '#/components/schemas/ActionEnum'
        column_name:
          type: string
        exclude_builds:
          type: array
          items:
            type: string
      required:
      - id
      - label
    ActionEnum:
      enum:
      - download
      - tab
      type: string
      description: '* `download` - Download

        * `tab` - Tab'
    Configuration:
      type: object
      description: Serializer for :class:`Configuration` objects.
      properties:
        id:
          type: integer
          readOnly: true
        community:
          type: string
          readOnly: true
        gene_info_filtering_organisms:
          type: array
          items:
            type: string
        gene_info_filtering_sources:
          type: array
          items:
            type: string
        import_visible:
          type: boolean
        krasid_help_text:
          type:
          - string
          - 'null'
        krasid_visible:
          type: boolean
        landing_page_content:
          type: string
        require_login_visible:
          type: boolean
        search_archiver_process:
          type: string
        search_filter_by_community:
          type: boolean
        search_process_group_stubs: {}
        search_table_columns:
          type: array
          items:
            $ref: '#/components/schemas/SearchTableFileColumn'
        search_visible:
          type: boolean
        visualizations_de_color_palette:
          type: array
          items:
            type: string
            maxLength: 7
          title: Visualizations comparison table color palette
          maxItems: 9
        visualizations_de_creation_processes:
          type: array
          items:
            type: string
          title: Visualizations differential expression creation processes
        visualizations_gene_view_visible:
          type: boolean
        visualizations_genome_browser_visible:
          type: boolean
        visualizations_visible:
          type: boolean
      required:
      - community
      - id
    PaginatedConfigurationList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/Configuration'
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
