openapi: 3.2.0
info:
  title: Genialis base Usertag API
  version: 0.0.0
  description: Backend of the Genialis platform.
servers:
- url: https://app.genialis.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Usertag
paths:
  /api/usertag:
    get:
      operationId: api_usertag_list
      description: API view for :class:`UserTag` objects.
      parameters:
      - in: query
        name: contributor
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
          format: date-time
      - in: query
        name: created__date
        schema:
          type: string
          format: date
      - in: query
        name: created__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: created__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: created__isnull
        schema:
          type: boolean
      - in: query
        name: created__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: created__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: created__time
        schema:
          type: string
          format: time
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: start
        schema:
          type: string
          format: date
      - in: query
        name: start__gt
        schema:
          type: string
          format: date
      - in: query
        name: start__gte
        schema:
          type: string
          format: date
      - in: query
        name: start__isnull
        schema:
          type: boolean
      - in: query
        name: start__lt
        schema:
          type: string
          format: date
      - in: query
        name: start__lte
        schema:
          type: string
          format: date
      - in: query
        name: tag_word
        schema:
          type: string
      - in: query
        name: user
        schema:
          type: string
      tags:
      - Usertag
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserTagList'
          description: ''
      summary: Api usertag list
      x-summary-source: derived
    post:
      operationId: api_usertag_create
      description: Make currently logged in user the contributor.
      tags:
      - Usertag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTag'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserTag'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserTag'
        required: true
      security:
      - cookieAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTag'
          description: ''
      summary: Api usertag create
      x-summary-source: derived
  /api/usertag/{id}:
    get:
      operationId: api_usertag_retrieve
      description: API view for :class:`UserTag` objects.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this user tag.
        required: true
      tags:
      - Usertag
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTag'
          description: ''
      summary: Api usertag retrieve
      x-summary-source: derived
    put:
      operationId: api_usertag_update
      description: API view for :class:`UserTag` objects.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this user tag.
        required: true
      tags:
      - Usertag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTag'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserTag'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserTag'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTag'
          description: ''
      summary: Api usertag update
      x-summary-source: derived
    patch:
      operationId: api_usertag_partial_update
      description: API view for :class:`UserTag` objects.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this user tag.
        required: true
      tags:
      - Usertag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUserTag'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedUserTag'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedUserTag'
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTag'
          description: ''
      summary: Api usertag partial update
      x-summary-source: derived
    delete:
      operationId: api_usertag_destroy
      description: API view for :class:`UserTag` objects.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this user tag.
        required: true
      tags:
      - Usertag
      security:
      - cookieAuth: []
      responses:
        '204':
          description: No response body
      summary: Api usertag destroy
      x-summary-source: derived
components:
  schemas:
    UserTag:
      type: object
      description: Serializer for :class:`UserTag` model.
      properties:
        id:
          type: integer
          readOnly: true
        user:
          type: string
          description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
        tag_word:
          type: string
        start:
          type: string
          format: date
        contributor:
          type: string
          description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
        created:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
      required:
      - contributor
      - created
      - id
      - tag_word
      - user
    PaginatedUserTagList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/UserTag'
    PatchedUserTag:
      type: object
      description: Serializer for :class:`UserTag` model.
      properties:
        id:
          type: integer
          readOnly: true
        user:
          type: string
          description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
        tag_word:
          type: string
        start:
          type: string
          format: date
        contributor:
          type: string
          description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
        created:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
