openapi: 3.2.0
info:
  title: Genialis base User API
  version: 0.0.0
  description: Backend of the Genialis platform.
servers:
- url: https://app.genialis.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: User
paths:
  /api/user:
    get:
      operationId: api_user_list
      description: API view for :class:`User` objects.
      parameters:
      - in: query
        name: company
        schema:
          type: string
      - in: query
        name: department
        schema:
          type: string
      - in: query
        name: email
        schema:
          type: string
      - in: query
        name: email__contains
        schema:
          type: string
      - in: query
        name: email__icontains
        schema:
          type: string
      - in: query
        name: email__iexact
        schema:
          type: string
      - in: query
        name: email__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: email__isnull
        schema:
          type: boolean
      - in: query
        name: email__istartswith
        schema:
          type: string
      - in: query
        name: email__startswith
        schema:
          type: string
      - in: query
        name: first_name
        schema:
          type: string
      - in: query
        name: first_name__contains
        schema:
          type: string
      - in: query
        name: first_name__icontains
        schema:
          type: string
      - in: query
        name: first_name__iexact
        schema:
          type: string
      - in: query
        name: first_name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: first_name__isnull
        schema:
          type: boolean
      - in: query
        name: first_name__istartswith
        schema:
          type: string
      - in: query
        name: first_name__startswith
        schema:
          type: string
      - in: query
        name: groups
        schema:
          type: integer
      - in: query
        name: id
        schema:
          type: integer
      - in: query
        name: id__gt
        schema:
          type: integer
      - in: query
        name: id__gte
        schema:
          type: integer
      - in: query
        name: id__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: id__isnull
        schema:
          type: boolean
      - in: query
        name: id__lt
        schema:
          type: integer
      - in: query
        name: id__lte
        schema:
          type: integer
      - in: query
        name: job_title
        schema:
          type: string
      - in: query
        name: lab
        schema:
          type: string
      - in: query
        name: last_name
        schema:
          type: string
      - in: query
        name: last_name__contains
        schema:
          type: string
      - in: query
        name: last_name__icontains
        schema:
          type: string
      - in: query
        name: last_name__iexact
        schema:
          type: string
      - in: query
        name: last_name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: last_name__isnull
        schema:
          type: boolean
      - in: query
        name: last_name__istartswith
        schema:
          type: string
      - in: query
        name: last_name__startswith
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: location
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: username
        schema:
          type: string
      - in: query
        name: username__contains
        schema:
          type: string
      - in: query
        name: username__icontains
        schema:
          type: string
      - in: query
        name: username__iexact
        schema:
          type: string
      - in: query
        name: username__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: username__isnull
        schema:
          type: boolean
      - in: query
        name: username__istartswith
        schema:
          type: string
      - in: query
        name: username__startswith
        schema:
          type: string
      tags:
      - User
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserList'
          description: ''
      summary: Api user list
      x-summary-source: derived
    post:
      operationId: api_user_create
      description: API view for :class:`User` objects.
      tags:
      - User
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      security:
      - cookieAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
      summary: Api user create
      x-summary-source: derived
  /api/user/{id}:
    put:
      operationId: api_user_update
      description: API view for :class:`User` objects.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this user.
        required: true
      tags:
      - User
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
      summary: Api user update
      x-summary-source: derived
    patch:
      operationId: api_user_partial_update
      description: API view for :class:`User` objects.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this user.
        required: true
      tags:
      - User
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUser'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedUser'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedUser'
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
      summary: Api user partial update
      x-summary-source: derived
components:
  schemas:
    User:
      type: object
      description: Serializer for :class:`User` objects.
      properties:
        id:
          type: integer
          readOnly: true
        first_name:
          type: string
          maxLength: 150
        last_name:
          type: string
          maxLength: 150
        job_title:
          type: string
        company:
          type: string
        department:
          type: string
        location:
          type: string
        lab:
          type: string
        phone_number:
          type: string
          maxLength: 128
        username:
          type: string
          description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
          pattern: ^[\w.@+-]+$
          maxLength: 150
        password:
          type: string
          writeOnly: true
          maxLength: 128
        email:
          type: string
          format: email
          maxLength: 254
        community:
          type: string
          writeOnly: true
        date_joined:
          type: string
          format: date-time
        last_login:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - email
      - id
      - password
      - username
    PaginatedUserList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=400&limit=100
        previous:
          type:
          - string
          - 'null'
          format: uri
          example: http://api.example.org/accounts/?offset=200&limit=100
        results:
          type: array
          items:
            $ref: '#/components/schemas/User'
    PatchedUser:
      type: object
      description: Serializer for :class:`User` objects.
      properties:
        id:
          type: integer
          readOnly: true
        first_name:
          type: string
          maxLength: 150
        last_name:
          type: string
          maxLength: 150
        job_title:
          type: string
        company:
          type: string
        department:
          type: string
        location:
          type: string
        lab:
          type: string
        phone_number:
          type: string
          maxLength: 128
        username:
          type: string
          description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
          pattern: ^[\w.@+-]+$
          maxLength: 150
        password:
          type: string
          writeOnly: true
          maxLength: 128
        email:
          type: string
          format: email
          maxLength: 254
        community:
          type: string
          writeOnly: true
        date_joined:
          type: string
          format: date-time
        last_login:
          type:
          - string
          - 'null'
          format: date-time
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
