openapi: 3.2.0
info:
  title: Genialis Base API
  version: 0.0.0
  description: Backend of the Genialis platform.
servers:
- url: https://app.genialis.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Base
paths:
  /api/base/csrf:
    get:
      operationId: api_base_csrf_retrieve
      description: View that sends the CSRF cookie.
      tags:
      - Base
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          description: No response body
      summary: Api base csrf retrieve
      x-summary-source: derived
  /api/base/data_usage:
    get:
      operationId: api_base_data_usage_retrieve
      description: Get data for the view.
      parameters:
      - in: query
        name: ordering
        schema:
          type: array
          items:
            enum:
            - username
            - full_name
            - data_size
            - data_size_normalized
            - data_count
            - data_count_normalized
            - sample_count
            - sample_count_normalized
            - collection_count
            - collection_count_normalized
            - -username
            - -full_name
            - -data_size
            - -data_size_normalized
            - -data_count
            - -data_count_normalized
            - -sample_count
            - -sample_count_normalized
            - -collection_count
            - -collection_count_normalized
            type: string
            description: '* `username` - username

              * `full_name` - full_name

              * `data_size` - data_size

              * `data_size_normalized` - data_size_normalized

              * `data_count` - data_count

              * `data_count_normalized` - data_count_normalized

              * `sample_count` - sample_count

              * `sample_count_normalized` - sample_count_normalized

              * `collection_count` - collection_count

              * `collection_count_normalized` - collection_count_normalized

              * `-username` - -username

              * `-full_name` - -full_name

              * `-data_size` - -data_size

              * `-data_size_normalized` - -data_size_normalized

              * `-data_count` - -data_count

              * `-data_count_normalized` - -data_count_normalized

              * `-sample_count` - -sample_count

              * `-sample_count_normalized` - -sample_count_normalized

              * `-collection_count` - -collection_count

              * `-collection_count_normalized` - -collection_count_normalized'
      - in: query
        name: single
        schema:
          type: boolean
          default: false
      tags:
      - Base
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDataUsagePolymorphic'
          description: ''
      summary: Api base data usage retrieve
      x-summary-source: derived
components:
  schemas:
    UserDataUsagePolymorphic:
      oneOf:
      - $ref: '#/components/schemas/SingleUserDataUsage'
      - $ref: '#/components/schemas/UserDataUsage'
      discriminator:
        propertyName: single
        mapping:
          false: '#/components/schemas/UserDataUsage'
    UserDataUsage:
      type: object
      description: Serializer for data/sample usage per user with normalized fields too.
      properties:
        user_id:
          type: integer
        username:
          type: string
        full_name:
          type: string
        data_size:
          type: number
          format: double
        data_count:
          type: integer
        sample_count:
          type: integer
        collection_count:
          type: integer
        single:
          type: boolean
          writeOnly: true
          default: false
        data_size_normalized:
          type: number
          format: double
        data_count_normalized:
          type: number
          format: double
        sample_count_normalized:
          type: number
          format: double
        collection_count_normalized:
          type: number
          format: double
      required:
      - collection_count
      - collection_count_normalized
      - data_count
      - data_count_normalized
      - data_size
      - data_size_normalized
      - full_name
      - sample_count
      - sample_count_normalized
      - user_id
      - username
    SingleUserDataUsage:
      type: object
      description: Serializer for data/sample usage of a user.
      properties:
        user_id:
          type: integer
        username:
          type: string
        full_name:
          type: string
        data_size:
          type: number
          format: double
        data_count:
          type: integer
        sample_count:
          type: integer
        collection_count:
          type: integer
        single:
          type: boolean
          writeOnly: true
          default: true
      required:
      - collection_count
      - data_count
      - data_size
      - full_name
      - sample_count
      - user_id
      - username
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
