openapi: 3.0.3
info:
  title: Genialis base
  version: 0.0.0
  description: Backend of the Genialis platform.
servers:
- url: https://app.genialis.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
paths:
  /about/process_resources:
    get:
      operationId: about_process_resources_retrieve
      description: Return the resources of the installed platform.
      tags:
      - about
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resources'
          description: ''
  /about/resdk_minimal_supported_version:
    get:
      operationId: about_resdk_minimal_supported_version_retrieve
      description: Return the minimal supported resdk version.
      tags:
      - about
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReSDKMinimalSupportedVersion'
          description: ''
  /about/versions:
    get:
      operationId: about_versions_retrieve
      description: Return the versions of the installed Genialis packages.
      tags:
      - about
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Versions'
          description: ''
  /api/_modules/differential_expression/geneset_search:
    get:
      operationId: api__modules_differential_expression_geneset_search_list
      description: |-
        View for geneset search endpoint.

        This endpoint returns combined list of Data objects of type
        ``data:differentialexpression:`` and ``data:geneset:``.

        Endpoint supports:
        * :drf:`Limit/Offset Pagination <pagination/#limitoffsetpagination>`
        * filtering by list of genes (significant genes for differential
          expression objects and list of included genes fot geneset objects)
        * filtering differential expressions by basket ids provided in
          ``filter_de_by_basket`` parameter
        * same filtering as Data endpoint (~`resolwe.flow.views.DataViewSet`)
        * ordering by ``-number_of_genes`` which is the default
        * same ordering as Data endpoint (~`resolwe.flow.views.DataViewSet`)
      parameters:
      - in: query
        name: basket
        schema:
          type: integer
      - in: query
        name: build
        schema:
          type: string
      - in: query
        name: collection
        schema:
          type: integer
      - in: query
        name: collection__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: collection__isnull
        schema:
          type: boolean
      - in: query
        name: collection__name
        schema:
          type: string
      - in: query
        name: collection__name__contains
        schema:
          type: string
      - in: query
        name: collection__name__icontains
        schema:
          type: string
      - in: query
        name: collection__name__iexact
        schema:
          type: string
      - in: query
        name: collection__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: collection__name__isnull
        schema:
          type: boolean
      - in: query
        name: collection__name__istartswith
        schema:
          type: string
      - in: query
        name: collection__name__startswith
        schema:
          type: string
      - in: query
        name: collection__slug
        schema:
          type: string
      - in: query
        name: collection__slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: contributor
        schema:
          type: integer
      - in: query
        name: contributor__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: contributor_name
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
          format: date-time
      - in: query
        name: created__date
        schema:
          type: string
          format: date
      - in: query
        name: created__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: created__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: created__isnull
        schema:
          type: boolean
      - in: query
        name: created__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: created__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: created__time
        schema:
          type: string
          format: time
      - in: query
        name: entity
        schema:
          type: integer
      - in: query
        name: entity__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__isnull
        schema:
          type: boolean
      - in: query
        name: entity__name
        schema:
          type: string
      - in: query
        name: entity__name__contains
        schema:
          type: string
      - in: query
        name: entity__name__icontains
        schema:
          type: string
      - in: query
        name: entity__name__iexact
        schema:
          type: string
      - in: query
        name: entity__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__name__isnull
        schema:
          type: boolean
      - in: query
        name: entity__name__istartswith
        schema:
          type: string
      - in: query
        name: entity__name__startswith
        schema:
          type: string
      - in: query
        name: entity__slug
        schema:
          type: string
      - in: query
        name: entity__slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: feature_type
        schema:
          type: string
      - in: query
        name: filter_de_by_basket
        schema:
          type: integer
      - in: query
        name: finished
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__date
        schema:
          type: string
          format: date
      - in: query
        name: finished__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__isnull
        schema:
          type: boolean
      - in: query
        name: finished__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__time
        schema:
          type: string
          format: time
      - in: query
        name: gene_ids
        schema:
          type: array
          items:
            type: string
      - in: query
        name: group
        schema:
          type: string
      - in: query
        name: id
        schema:
          type: integer
      - in: query
        name: id__gt
        schema:
          type: integer
      - in: query
        name: id__gte
        schema:
          type: integer
      - in: query
        name: id__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: id__isnull
        schema:
          type: boolean
      - in: query
        name: id__lt
        schema:
          type: integer
      - in: query
        name: id__lte
        schema:
          type: integer
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: modified
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__date
        schema:
          type: string
          format: date
      - in: query
        name: modified__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__isnull
        schema:
          type: boolean
      - in: query
        name: modified__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__time
        schema:
          type: string
          format: time
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: name__contains
        schema:
          type: string
      - in: query
        name: name__icontains
        schema:
          type: string
      - in: query
        name: name__iexact
        schema:
          type: string
      - in: query
        name: name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: name__isnull
        schema:
          type: boolean
      - in: query
        name: name__istartswith
        schema:
          type: string
      - in: query
        name: name__startswith
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: owners
        schema:
          type: integer
      - in: query
        name: owners_name
        schema:
          type: string
      - in: query
        name: permission
        schema:
          type: string
      - in: query
        name: process
        schema:
          type: integer
      - in: query
        name: process__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: process__isnull
        schema:
          type: boolean
      - in: query
        name: process__name
        schema:
          type: string
      - in: query
        name: process__name__contains
        schema:
          type: string
      - in: query
        name: process__name__icontains
        schema:
          type: string
      - in: query
        name: process__name__iexact
        schema:
          type: string
      - in: query
        name: process__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: process__name__isnull
        schema:
          type: boolean
      - in: query
        name: process__name__istartswith
        schema:
          type: string
      - in: query
        name: process__name__startswith
        schema:
          type: string
      - in: query
        name: process__slug
        schema:
          type: string
      - in: query
        name: process__slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: relation_id
        schema:
          type: number
      - in: query
        name: shared_with_me
        schema:
          type: boolean
      - in: query
        name: slug
        schema:
          type: string
      - in: query
        name: slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: source
        schema:
          type: string
          nullable: true
          minLength: 1
      - in: query
        name: species
        schema:
          type: string
          nullable: true
          minLength: 1
      - in: query
        name: started
        schema:
          type: string
          format: date-time
      - in: query
        name: started__date
        schema:
          type: string
          format: date
      - in: query
        name: started__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: started__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: started__isnull
        schema:
          type: boolean
      - in: query
        name: started__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: started__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: started__time
        schema:
          type: string
          format: time
      - in: query
        name: status
        schema:
          type: string
          enum:
          - DR
          - ER
          - OK
          - PP
          - PR
          - RE
          - UP
          - WT
        description: |-
          * `UP` - Uploading
          * `RE` - Resolving
          * `WT` - Waiting
          * `PP` - Preparing
          * `PR` - Processing
          * `OK` - Done
          * `ER` - Error
          * `DR` - Dirty
      - in: query
        name: status__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: tags
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: type__exact
        schema:
          type: string
      - in: query
        name: version
        schema:
          type: string
      - in: query
        name: version__gt
        schema:
          type: string
      - in: query
        name: version__gte
        schema:
          type: string
      - in: query
        name: version__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: version__isnull
        schema:
          type: boolean
      - in: query
        name: version__lt
        schema:
          type: string
      - in: query
        name: version__lte
        schema:
          type: string
      tags:
      - api
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedGenesetSearchSerializerWithPermissionsList'
          description: ''
    post:
      operationId: api__modules_differential_expression_geneset_search_create
      description: Get list by POST request.
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneIds'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GeneIds'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GeneIds'
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenesetSearchSerializerWithPermissions'
          description: ''
  /api/_modules/differential_expression/list:
    get:
      operationId: api__modules_differential_expression_list_list
      description: |-
        Endpoint used for differential expression data.

        Endpoint used for retrieving differential expression data objects
        that derive from samples in the basket. Data objects contain some
        additional fields that are being calculated on the database side.
        Those additional fields are:
         - logfc_threshold
         - prob_field
         - prob_threshold
         - up_regulated
         - down_regulated

        Request accepts any standard filter for Data objects, plus:
         - basket (optional)
         - source (optional)
         - species (optional)
         - filter_de_by_basket (optional)

        Response:
         - a list of data objects with additional calculated fields
      parameters:
      - in: query
        name: basket
        schema:
          type: string
          format: uuid
      - in: query
        name: build
        schema:
          type: string
      - in: query
        name: collection
        schema:
          type: integer
      - in: query
        name: collection__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: collection__isnull
        schema:
          type: boolean
      - in: query
        name: collection__name
        schema:
          type: string
      - in: query
        name: collection__name__contains
        schema:
          type: string
      - in: query
        name: collection__name__icontains
        schema:
          type: string
      - in: query
        name: collection__name__iexact
        schema:
          type: string
      - in: query
        name: collection__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: collection__name__isnull
        schema:
          type: boolean
      - in: query
        name: collection__name__istartswith
        schema:
          type: string
      - in: query
        name: collection__name__startswith
        schema:
          type: string
      - in: query
        name: collection__slug
        schema:
          type: string
      - in: query
        name: collection__slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: contributor
        schema:
          type: integer
      - in: query
        name: contributor__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: contributor_name
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
          format: date-time
      - in: query
        name: created__date
        schema:
          type: string
          format: date
      - in: query
        name: created__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: created__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: created__isnull
        schema:
          type: boolean
      - in: query
        name: created__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: created__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: created__time
        schema:
          type: string
          format: time
      - in: query
        name: entity
        schema:
          type: integer
      - in: query
        name: entity__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__isnull
        schema:
          type: boolean
      - in: query
        name: entity__name
        schema:
          type: string
      - in: query
        name: entity__name__contains
        schema:
          type: string
      - in: query
        name: entity__name__icontains
        schema:
          type: string
      - in: query
        name: entity__name__iexact
        schema:
          type: string
      - in: query
        name: entity__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__name__isnull
        schema:
          type: boolean
      - in: query
        name: entity__name__istartswith
        schema:
          type: string
      - in: query
        name: entity__name__startswith
        schema:
          type: string
      - in: query
        name: entity__slug
        schema:
          type: string
      - in: query
        name: entity__slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: feature_type
        schema:
          type: string
      - in: query
        name: filter_de_by_basket
        schema:
          type: boolean
      - in: query
        name: finished
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__date
        schema:
          type: string
          format: date
      - in: query
        name: finished__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__isnull
        schema:
          type: boolean
      - in: query
        name: finished__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__time
        schema:
          type: string
          format: time
      - in: query
        name: group
        schema:
          type: string
      - in: query
        name: id
        schema:
          type: integer
      - in: query
        name: id__gt
        schema:
          type: integer
      - in: query
        name: id__gte
        schema:
          type: integer
      - in: query
        name: id__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: id__isnull
        schema:
          type: boolean
      - in: query
        name: id__lt
        schema:
          type: integer
      - in: query
        name: id__lte
        schema:
          type: integer
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: modified
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__date
        schema:
          type: string
          format: date
      - in: query
        name: modified__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__isnull
        schema:
          type: boolean
      - in: query
        name: modified__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__time
        schema:
          type: string
          format: time
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: name__contains
        schema:
          type: string
      - in: query
        name: name__icontains
        schema:
          type: string
      - in: query
        name: name__iexact
        schema:
          type: string
      - in: query
        name: name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: name__isnull
        schema:
          type: boolean
      - in: query
        name: name__istartswith
        schema:
          type: string
      - in: query
        name: name__startswith
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: owners
        schema:
          type: integer
      - in: query
        name: owners_name
        schema:
          type: string
      - in: query
        name: permission
        schema:
          type: string
      - in: query
        name: process
        schema:
          type: integer
      - in: query
        name: process__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: process__isnull
        schema:
          type: boolean
      - in: query
        name: process__name
        schema:
          type: string
      - in: query
        name: process__name__contains
        schema:
          type: string
      - in: query
        name: process__name__icontains
        schema:
          type: string
      - in: query
        name: process__name__iexact
        schema:
          type: string
      - in: query
        name: process__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: process__name__isnull
        schema:
          type: boolean
      - in: query
        name: process__name__istartswith
        schema:
          type: string
      - in: query
        name: process__name__startswith
        schema:
          type: string
      - in: query
        name: process__slug
        schema:
          type: string
      - in: query
        name: process__slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: relation_id
        schema:
          type: number
      - in: query
        name: shared_with_me
        schema:
          type: boolean
      - in: query
        name: slug
        schema:
          type: string
      - in: query
        name: slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: source
        schema:
          type: string
          minLength: 1
      - in: query
        name: species
        schema:
          type: string
          minLength: 1
      - in: query
        name: started
        schema:
          type: string
          format: date-time
      - in: query
        name: started__date
        schema:
          type: string
          format: date
      - in: query
        name: started__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: started__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: started__isnull
        schema:
          type: boolean
      - in: query
        name: started__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: started__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: started__time
        schema:
          type: string
          format: time
      - in: query
        name: status
        schema:
          type: string
          enum:
          - DR
          - ER
          - OK
          - PP
          - PR
          - RE
          - UP
          - WT
        description: |-
          * `UP` - Uploading
          * `RE` - Resolving
          * `WT` - Waiting
          * `PP` - Preparing
          * `PR` - Processing
          * `OK` - Done
          * `ER` - Error
          * `DR` - Dirty
      - in: query
        name: status__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: tags
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: type__exact
        schema:
          type: string
      - in: query
        name: version
        schema:
          type: string
      - in: query
        name: version__gt
        schema:
          type: string
      - in: query
        name: version__gte
        schema:
          type: string
      - in: query
        name: version__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: version__isnull
        schema:
          type: boolean
      - in: query
        name: version__lt
        schema:
          type: string
      - in: query
        name: version__lte
        schema:
          type: string
      tags:
      - api
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDifferentialExpressionsSerializerWithPermissionsList'
          description: ''
    post:
      operationId: api__modules_differential_expression_list_create
      description: Get list by POST request.
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DifferentialExpressionsDeserializer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DifferentialExpressionsDeserializer'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DifferentialExpressionsDeserializer'
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifferentialExpressionsSerializerWithPermissions'
          description: ''
  /api/_modules/gene_list/list:
    get:
      operationId: api__modules_gene_list_list_list
      description: Return a response.
      parameters:
      - in: query
        name: data
        schema:
          type: integer
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      tags:
      - api
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedGeneListList'
          description: ''
  /api/_modules/gene_list/list_by_ids:
    get:
      operationId: api__modules_gene_list_list_by_ids_list
      description: |-
        View for gene list by ids endpoint.

        This endpoint expects gene source and a list of gene ids and returns a list of features with
        additional metadata from the knowledge base.

        Endpoint supports LimitOffset pagination. When 'limit' query parameter is provided, paginated
        response is returned.
      parameters:
      - in: query
        name: gene_ids
        schema:
          type: array
          items:
            type: string
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - in: query
        name: source
        schema:
          type: string
          nullable: true
          minLength: 1
      - in: query
        name: species
        schema:
          type: string
          nullable: true
          minLength: 1
      tags:
      - api
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedGeneListList'
          description: ''
    post:
      operationId: api__modules_gene_list_list_by_ids_create
      description: Return a response.
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneIds'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GeneIds'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GeneIds'
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneList'
          description: ''
  /api/_modules/jbrowse/genome:
    get:
      operationId: api__modules_jbrowse_genome_list
      description: Return JBrowse reference sequence.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: sample_id
        schema:
          type: integer
        required: true
      tags:
      - api
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDataList'
          description: ''
  /api/_modules/process/list:
    get:
      operationId: api__modules_process_list_list
      description: Process viewset which returns reduced number of process fields
        for faster response time.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      tags:
      - api
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProcessList'
          description: ''
  /api/_modules/sample/table:
    post:
      operationId: api__modules_sample_table_create
      description: Return samples with column values.
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleTableDeserializer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SampleTableDeserializer'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SampleTableDeserializer'
        required: true
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: ''
  /api/_modules/species/collection:
    get:
      operationId: api__modules_species_collection_list
      description: Return collections' species.
      parameters:
      - in: query
        name: annotation_version
        schema:
          enum:
          - v2
          type: string
          default: v2
          minLength: 1
        description: '* `v2` - v2'
      - in: query
        name: collection_ids
        schema:
          type: array
          items:
            type: integer
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      tags:
      - api
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCollectionSpeciesList'
          description: ''
  /api/_modules/visualizations/aggregated_expression_box_plot/get_last:
    get:
      operationId: api__modules_visualizations_aggregated_expression_box_plot_get_last_list
      description: |-
        Return aggregations appropriate for box plot.

        Aggregations are retrieved from last `data:aggregator:expression:`
        data object. If `diff_expr_id` parameter is provided, the first two elements of
        the response are aggregations from differential expression's case and control
        data objects.

        Log transformation operation is log2(x + 1).

        Request:
         - feature symbol
         - source
         - species
         - group by
         - exp type
         - optional: differential expression
         - optional: log transform

        Response:
         - a list of aggregated expressions for box plot
      parameters:
      - in: query
        name: diff_expr_id
        schema:
          type: integer
          nullable: true
      - in: query
        name: exp_type
        schema:
          type: string
          minLength: 1
        required: true
      - in: query
        name: gene_id
        schema:
          type: string
          minLength: 1
        required: true
      - in: query
        name: group_by
        schema:
          type: string
          minLength: 1
        required: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: log_transform
        schema:
          type: boolean
          default: false
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: source
        schema:
          type: string
          minLength: 1
        required: true
      - in: query
        name: species
        schema:
          type: string
          minLength: 1
        required: true
      tags:
      - api
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAggregatedExpressionBoxPlotList'
          description: ''
  /api/_modules/visualizations/attributes:
    post:
      operationId: api__modules_visualizations_attributes_create
      description: Attributes endpoint.
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributesDeserializer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttributesDeserializer'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AttributesDeserializer'
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeList'
          description: ''
  /api/_modules/visualizations/attributify:
    get:
      operationId: api__modules_visualizations_attributify_list
      description: |-
        Attributify endpoint.

        Returns a minimal set of sample fields and an resolved attribute field specified
        in the request. This can be used for visualizations to group samples
        by an attribute.

        The endpoint takes ``sample_ids`` or ``basket`` as a parameter where ``sample_ids``
        takes precedence.
      parameters:
      - in: query
        name: annotation_version
        schema:
          enum:
          - v2
          type: string
          default: v2
          minLength: 1
        description: '* `v2` - v2'
      - in: query
        name: attribute
        schema: {}
        required: true
      - in: query
        name: basket
        schema:
          type: string
          format: uuid
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: sample_ids
        schema:
          type: array
          items:
            type: integer
      tags:
      - api
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSampleList'
          description: ''
    post:
      operationId: api__modules_visualizations_attributify_create
      description: Attributify endpoint.
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributifyDeserializer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttributifyDeserializer'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AttributifyDeserializer'
        required: true
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sample'
          description: ''
  /api/_modules/visualizations/basket_expressions:
    get:
      operationId: api__modules_visualizations_basket_expressions_list
      description: |-
        Endpoint for retrieving basket expressions.

        Request:
         - basket id
         - tags (optional)

        Response:
         - a list of expressions
      parameters:
      - in: query
        name: basket
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: tags
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      tags:
      - api
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBasketExpressionsList'
          description: ''
  /api/_modules/visualizations/case_control_expressions:
    post:
      operationId: api__modules_visualizations_case_control_expressions_create
      description: Endpoint handler.
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseControlExpressionsDeserializer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CaseControlExpressionsDeserializer'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CaseControlExpressionsDeserializer'
        required: true
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseControlExpressions'
          description: ''
  /api/_modules/visualizations/expression_box_plot:
    get:
      operationId: api__modules_visualizations_expression_box_plot_list
      description: |-
        Endpoint for box plot.

        Statistics can be grouped by provided attribute or for each
        given gene if no attribute provided.

        Log transformation operation is log2(x + 1).

        Request:
         - basket id
         - a list of gene ids
         - source
         - species
         - optional: attribute the response is grouped by

        Response:
         - a list of aggregated statistics suitable for box plot
      parameters:
      - in: query
        name: annotation_version
        schema:
          enum:
          - v2
          type: string
          default: v2
          minLength: 1
        description: '* `v2` - v2'
      - in: query
        name: attribute
        schema:
          type: object
          additionalProperties: {}
      - in: query
        name: basket
        schema:
          type: string
          format: uuid
        required: true
      - in: query
        name: gene_ids
        schema:
          type: array
          items:
            type: string
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: source
        schema:
          type: string
          nullable: true
          minLength: 1
      - in: query
        name: species
        schema:
          type: string
          nullable: true
          minLength: 1
      tags:
      - api
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExpressionBoxPlotList'
          description: ''
    post:
      operationId: api__modules_visualizations_expression_box_plot_create
      description: Endpoint handler.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressionBoxPlotDeserializer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExpressionBoxPlotDeserializer'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExpressionBoxPlotDeserializer'
        required: true
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExpressionBoxPlotList'
          description: ''
  /api/_modules/visualizations/expressions:
    get:
      operationId: api__modules_visualizations_expressions_list
      description: |-
        Endpoint for retrieving expressions for provided genes.

        Request takes optional parameters: group_by and color_by which
        are descriptor or relation attributes.

        Request:
         - basket id
         - a list for gene ids
         - source
         - species
         - optional: group_by (serialized ```DescriptorAttribute``` or ```RelationAttribute```)
         - optional: color_by (same as group_by)

        Response:
         - a list of gene/expression/sample values
      parameters:
      - in: query
        name: annotation_version
        schema:
          enum:
          - v2
          type: string
          default: v2
          minLength: 1
        description: '* `v2` - v2'
      - in: query
        name: basket
        schema:
          type: string
          format: uuid
        required: true
      - in: query
        name: color_by
        schema:
          type: object
          additionalProperties: {}
          nullable: true
      - in: query
        name: gene_ids
        schema:
          type: array
          items:
            type: string
      - in: query
        name: group_by
        schema:
          type: object
          additionalProperties: {}
          nullable: true
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: source
        schema:
          type: string
          nullable: true
          minLength: 1
      - in: query
        name: species
        schema:
          type: string
          nullable: true
          minLength: 1
      tags:
      - api
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExpressionsList'
          description: ''
    post:
      operationId: api__modules_visualizations_expressions_create
      description: Endpoint handler.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressionsDeserializer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExpressionsDeserializer'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExpressionsDeserializer'
        required: true
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExpressionsList'
          description: ''
  /api/_modules/visualizations/heatmap:
    get:
      operationId: api__modules_visualizations_heatmap_list
      description: |-
        Endpoint used for heatmap visualization.

        Request:
         - gene_ids
         - source
         - species
         - sample_ids

        Response:
         - a list of objects containing heatmap related data:
           - sample name
           - gene
           - expression
           - expression type
      parameters:
      - in: query
        name: gene_ids
        schema:
          type: array
          items:
            type: string
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: sample_ids
        schema:
          type: array
          items:
            type: integer
        required: true
      - in: query
        name: source
        schema:
          type: string
          nullable: true
          minLength: 1
      - in: query
        name: species
        schema:
          type: string
          nullable: true
          minLength: 1
      tags:
      - api
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedHeatmapList'
          description: ''
    post:
      operationId: api__modules_visualizations_heatmap_create
      description: Return a response.
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HeatmapDeserializer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/HeatmapDeserializer'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/HeatmapDeserializer'
        required: true
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedHeatmapList'
          description: ''
  /api/_modules/visualizations/rose2:
    get:
      operationId: api__modules_visualizations_rose2_list
      description: |-
        Endpoint returns Rose2 Data objects filtered by basket.

        Endpoint supports:
        * :drf:`Limit/Offset Pagination <pagination/#limitoffsetpagination>`
        * filtering
        * ordering by `name` and `created`
      parameters:
      - in: query
        name: basket
        schema:
          type: string
          format: uuid
        required: true
      - in: query
        name: build
        schema:
          type: string
      - in: query
        name: collection
        schema:
          type: integer
      - in: query
        name: collection__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: collection__isnull
        schema:
          type: boolean
      - in: query
        name: collection__name
        schema:
          type: string
      - in: query
        name: collection__name__contains
        schema:
          type: string
      - in: query
        name: collection__name__icontains
        schema:
          type: string
      - in: query
        name: collection__name__iexact
        schema:
          type: string
      - in: query
        name: collection__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: collection__name__isnull
        schema:
          type: boolean
      - in: query
        name: collection__name__istartswith
        schema:
          type: string
      - in: query
        name: collection__name__startswith
        schema:
          type: string
      - in: query
        name: collection__slug
        schema:
          type: string
      - in: query
        name: collection__slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: contributor
        schema:
          type: integer
      - in: query
        name: contributor__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: contributor_name
        schema:
          type: string
      - in: query
        name: created
        schema:
          type: string
          format: date-time
      - in: query
        name: created__date
        schema:
          type: string
          format: date
      - in: query
        name: created__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: created__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: created__isnull
        schema:
          type: boolean
      - in: query
        name: created__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: created__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: created__time
        schema:
          type: string
          format: time
      - in: query
        name: entity
        schema:
          type: integer
      - in: query
        name: entity__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__isnull
        schema:
          type: boolean
      - in: query
        name: entity__name
        schema:
          type: string
      - in: query
        name: entity__name__contains
        schema:
          type: string
      - in: query
        name: entity__name__icontains
        schema:
          type: string
      - in: query
        name: entity__name__iexact
        schema:
          type: string
      - in: query
        name: entity__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__name__isnull
        schema:
          type: boolean
      - in: query
        name: entity__name__istartswith
        schema:
          type: string
      - in: query
        name: entity__name__startswith
        schema:
          type: string
      - in: query
        name: entity__slug
        schema:
          type: string
      - in: query
        name: entity__slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: feature_type
        schema:
          type: string
      - in: query
        name: finished
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__date
        schema:
          type: string
          format: date
      - in: query
        name: finished__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__isnull
        schema:
          type: boolean
      - in: query
        name: finished__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: finished__time
        schema:
          type: string
          format: time
      - in: query
        name: group
        schema:
          type: string
      - in: query
        name: id
        schema:
          type: integer
      - in: query
        name: id__gt
        schema:
          type: integer
      - in: query
        name: id__gte
        schema:
          type: integer
      - in: query
        name: id__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: id__isnull
        schema:
          type: boolean
      - in: query
        name: id__lt
        schema:
          type: integer
      - in: query
        name: id__lte
        schema:
          type: integer
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: modified
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__date
        schema:
          type: string
          format: date
      - in: query
        name: modified__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__isnull
        schema:
          type: boolean
      - in: query
        name: modified__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: modified__time
        schema:
          type: string
          format: time
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: name__contains
        schema:
          type: string
      - in: query
        name: name__icontains
        schema:
          type: string
      - in: query
        name: name__iexact
        schema:
          type: string
      - in: query
        name: name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: name__isnull
        schema:
          type: boolean
      - in: query
        name: name__istartswith
        schema:
          type: string
      - in: query
        name: name__startswith
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: owners
        schema:
          type: integer
      - in: query
        name: owners_name
        schema:
          type: string
      - in: query
        name: permission
        schema:
          type: string
      - in: query
        name: process
        schema:
          type: integer
      - in: query
        name: process__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: process__isnull
        schema:
          type: boolean
      - in: query
        name: process__name
        schema:
          type: string
      - in: query
        name: process__name__contains
        schema:
          type: string
      - in: query
        name: process__name__icontains
        schema:
          type: string
      - in: query
        name: process__name__iexact
        schema:
          type: string
      - in: query
        name: process__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: process__name__isnull
        schema:
          type: boolean
      - in: query
        name: process__name__istartswith
        schema:
          type: string
      - in: query
        name: process__name__startswith
        schema:
          type: string
      - in: query
        name: process__slug
        schema:
          type: string
      - in: query
        name: process__slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: relation_id
        schema:
          type: number
      - in: query
        name: shared_with_me
        schema:
          type: boolean
      - in: query
        name: slug
        schema:
          type: string
      - in: query
        name: slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: source
        schema:
          type: string
      - in: query
        name: species
        schema:
          type: string
      - in: query
        name: started
        schema:
          type: string
          format: date-time
      - in: query
        name: started__date
        schema:
          type: string
          format: date
      - in: query
        name: started__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: started__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: started__isnull
        schema:
          type: boolean
      - in: query
        name: started__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: started__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: started__time
        schema:
          type: string
          format: time
      - in: query
        name: status
        schema:
          type: string
          enum:
          - DR
          - ER
          - OK
          - PP
          - PR
          - RE
          - UP
          - WT
        description: |-
          * `UP` - Uploading
          * `RE` - Resolving
          * `WT` - Waiting
          * `PP` - Preparing
          * `PR` - Processing
          * `OK` - Done
          * `ER` - Error
          * `DR` - Dirty
      - in: query
        name: status__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: tags
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: type__exact
        schema:
          type: string
      - in: query
        name: version
        schema:
          type: string
      - in: query
        name: version__gt
        schema:
          type: string
      - in: query
        name: version__gte
        schema:
          type: string
      - in: query
        name: version__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: version__isnull
        schema:
          type: boolean
      - in: query
        name: version__lt
        schema:
          type: string
      - in: query
        name: version__lte
        schema:
          type: string
      tags:
      - api
      security:
      - cookieAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRose2List'
          description: ''
  /api/accesstoken/data:
    get:
      operationId: api_accesstoken_data_list
      description: API view for :class:`DescriptorSchema` objects.
      parameters:
      - in: query
        name: created
        schema:
          type: string
          format: date-time
      - in: query
        name: created__date
        schema:
          type: string
          format: date
      - in: query
        name: created__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: created__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: created__isnull
        schema:
          type: boolean
      - in: query
        name: created__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: created__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: created__time
        schema:
          type: string
          format: time
      - in: query
        name: description
        schema:
          type: string
      - in: query
        name: description__contains
        schema:
          type: string
      - in: query
        name: description__icontains
        schema:
          type: string
      - in: query
        name: description__iexact
        schema:
          type: string
      - in: query
        name: description__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: description__isnull
        schema:
          type: boolean
      - in: query
        name: description__istartswith
        schema:
          type: string
      - in: query
        name: description__startswith
        schema:
          type: string
      - in: query
        name: expires
        schema:
          type: string
          format: date-time
      - in: query
        name: expires__date
        schema:
          type: string
          format: date
      - in: query
        name: expires__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: expires__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: expires__isnull
        schema:
          type: boolean
      - in: query
        name: expires__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: expires__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: expires__time
        schema:
          type: string
          format: time
      - in: query
        name: id
        schema:
          type: integer
      - in: query
        name: id__gt
        schema:
          type: integer
      - in: query
        name: id__gte
        schema:
          type: integer
      - in: query
        name: id__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: id__isnull
        schema:
          type: boolean
      - in: query
        name: id__lt
        schema:
          type: integer
      - in: query
        name: id__lte
        schema:
          type: integer
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: revoked
        schema:
          type: string
          format: date-time
      - in: query
        name: revoked__date
        schema:
          type: string
          format: date
      - in: query
        name: revoked__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: revoked__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: revoked__isnull
        schema:
          type: boolean
      - in: query
        name: revoked__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: revoked__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: revoked__time
        schema:
          type: string
          format: time
      tags:
      - api
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDataAccessTokenList'
          description: ''
    post:
      operationId: api_accesstoken_data_create
      description: Set current user, translate permissions and create token.
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataAccessTokenCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DataAccessTokenCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DataAccessTokenCreate'
        required: true
      security:
      - cookieAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAccessTokenCreate'
          description: ''
  /api/accesstoken/data/{id}:
    get:
      operationId: api_accesstoken_data_retrieve
      description: API view for :class:`DescriptorSchema` objects.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this data access token.
        required: true
      tags:
      - api
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAccessToken'
          description: ''
    put:
      operationId: api_accesstoken_data_update
      description: API view for :class:`DescriptorSchema` objects.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this data access token.
        required: true
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataAccessToken'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DataAccessToken'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DataAccessToken'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAccessToken'
          description: ''
    patch:
      operationId: api_accesstoken_data_partial_update
      description: API view for :class:`DescriptorSchema` objects.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this data access token.
        required: true
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedDataAccessToken'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedDataAccessToken'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedDataAccessToken'
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAccessToken'
          description: ''
    delete:
      operationId: api_accesstoken_data_destroy
      description: API view for :class:`DescriptorSchema` objects.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this data access token.
        required: true
      tags:
      - api
      security:
      - cookieAuth: []
      responses:
        '204':
          description: No response body
  /api/annotation:
    get:
      operationId: api_annotation_retrieve
      description: |-
        Download annotation template.

        If ``dry_run`` parameter is present, then empty response will be returned.
      parameters:
      - in: query
        name: annotation_type
        schema:
          type: string
          minLength: 1
        required: true
      - in: query
        name: collection_ids
        schema:
          type: array
          items:
            type: integer
      - in: query
        name: dry_run
        schema:
          type: boolean
          default: false
      - in: query
        name: sample_ids
        schema:
          type: array
          items:
            type: integer
      tags:
      - api
      security:
      - cookieAuth: []
      responses:
        '200':
          description: No response body
    post:
      operationId: api_annotation_create
      description: Annotate using uploaded annotation file.
      tags:
      - api
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnotationUploadDeserializer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AnnotationUploadDeserializer'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AnnotationUploadDeserializer'
        required: true
      security:
      - cookieAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationUpload'
          description: ''
  /api/annotation_field:
    get:
      operationId: api_annotation_field_list
      description: Annotation fields viewset.
      parameters:
      - in: query
        name: collection
        schema:
          type: array
          items:
            type: integer
        explode: true
        style: form
      - in: query
        name: collection__name
        schema:
          type: string
      - in: query
        name: collection__name__contains
        schema:
          type: string
      - in: query
        name: collection__name__icontains
        schema:
          type: string
      - in: query
        name: collection__name__iexact
        schema:
          type: string
      - in: query
        name: collection__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: collection__name__isnull
        schema:
          type: boolean
      - in: query
        name: collection__name__istartswith
        schema:
          type: string
      - in: query
        name: collection__name__startswith
        schema:
          type: string
      - in: query
        name: collection__slug
        schema:
          type: string
      - in: query
        name: collection__slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: description
        schema:
          type: string
      - in: query
        name: description__contains
        schema:
          type: string
      - in: query
        name: description__icontains
        schema:
          type: string
      - in: query
        name: description__iexact
        schema:
          type: string
      - in: query
        name: description__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: description__isnull
        schema:
          type: boolean
      - in: query
        name: description__istartswith
        schema:
          type: string
      - in: query
        name: description__startswith
        schema:
          type: string
      - in: query
        name: entity
        schema:
          type: number
      - in: query
        name: entity__annotations
        schema:
          type: string
      - in: query
        name: entity__basket
        schema:
          type: string
      - in: query
        name: entity__collection
        schema:
          type: string
      - in: query
        name: entity__collection__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__collection__isnull
        schema:
          type: boolean
      - in: query
        name: entity__collection__name
        schema:
          type: string
      - in: query
        name: entity__collection__name__contains
        schema:
          type: string
      - in: query
        name: entity__collection__name__icontains
        schema:
          type: string
      - in: query
        name: entity__collection__name__iexact
        schema:
          type: string
      - in: query
        name: entity__collection__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__collection__name__isnull
        schema:
          type: boolean
      - in: query
        name: entity__collection__name__istartswith
        schema:
          type: string
      - in: query
        name: entity__collection__name__startswith
        schema:
          type: string
      - in: query
        name: entity__collection__slug
        schema:
          type: string
      - in: query
        name: entity__collection__slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__contributor
        schema:
          type: string
      - in: query
        name: entity__contributor__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__contributor_name
        schema:
          type: string
      - in: query
        name: entity__created
        schema:
          type: string
          format: date-time
      - in: query
        name: entity__created__date
        schema:
          type: string
          format: date
      - in: query
        name: entity__created__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: entity__created__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: entity__created__isnull
        schema:
          type: boolean
      - in: query
        name: entity__created__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: entity__created__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: entity__created__time
        schema:
          type: string
          format: time
      - in: query
        name: entity__description
        schema:
          type: string
      - in: query
        name: entity__description__contains
        schema:
          type: string
      - in: query
        name: entity__description__icontains
        schema:
          type: string
      - in: query
        name: entity__description__iexact
        schema:
          type: string
      - in: query
        name: entity__description__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__description__isnull
        schema:
          type: boolean
      - in: query
        name: entity__description__istartswith
        schema:
          type: string
      - in: query
        name: entity__description__startswith
        schema:
          type: string
      - in: query
        name: entity__group
        schema:
          type: string
      - in: query
        name: entity__gt
        schema:
          type: number
      - in: query
        name: entity__gte
        schema:
          type: number
      - in: query
        name: entity__in
        schema:
          type: array
          items:
            type: number
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__isnull
        schema:
          type: boolean
      - in: query
        name: entity__lt
        schema:
          type: number
      - in: query
        name: entity__lte
        schema:
          type: number
      - in: query
        name: entity__modified
        schema:
          type: string
          format: date-time
      - in: query
        name: entity__modified__date
        schema:
          type: string
          format: date
      - in: query
        name: entity__modified__gt
        schema:
          type: string
          format: date-time
      - in: query
        name: entity__modified__gte
        schema:
          type: string
          format: date-time
      - in: query
        name: entity__modified__isnull
        schema:
          type: boolean
      - in: query
        name: entity__modified__lt
        schema:
          type: string
          format: date-time
      - in: query
        name: entity__modified__lte
        schema:
          type: string
          format: date-time
      - in: query
        name: entity__modified__time
        schema:
          type: string
          format: time
      - in: query
        name: entity__name
        schema:
          type: string
      - in: query
        name: entity__name__contains
        schema:
          type: string
      - in: query
        name: entity__name__icontains
        schema:
          type: string
      - in: query
        name: entity__name__iexact
        schema:
          type: string
      - in: query
        name: entity__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__name__isnull
        schema:
          type: boolean
      - in: query
        name: entity__name__istartswith
        schema:
          type: string
      - in: query
        name: entity__name__startswith
        schema:
          type: string
      - in: query
        name: entity__owners
        schema:
          type: integer
      - in: query
        name: entity__owners_name
        schema:
          type: string
      - in: query
        name: entity__permission
        schema:
          type: string
      - in: query
        name: entity__relation_id
        schema:
          type: number
      - in: query
        name: entity__shared_with_me
        schema:
          type: boolean
      - in: query
        name: entity__slug
        schema:
          type: string
      - in: query
        name: entity__slug__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__status
        schema:
          type: string
      - in: query
        name: entity__status__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__tags
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__type
        schema:
          type: string
      - in: query
        name: entity__version
        schema:
          type: string
      - in: query
        name: entity__version__gt
        schema:
          type: string
      - in: query
        name: entity__version__gte
        schema:
          type: string
      - in: query
        name: entity__version__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: entity__version__isnull
        schema:
          type: boolean
      - in: query
        name: entity__version__lt
        schema:
          type: string
      - in: query
        name: entity__version__lte
        schema:
          type: string
      - in: query
        name: group__name
        schema:
          type: string
      - in: query
        name: group__name__contains
        schema:
          type: string
      - in: query
        name: group__name__icontains
        schema:
          type: string
      - in: query
        name: group__name__iexact
        schema:
          type: string
      - in: query
        name: group__name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: group__name__isnull
        schema:
          type: boolean
      - in: query
        name: group__name__istartswith
        schema:
          type: string
      - in: query
        name: group__name__startswith
        schema:
          type: string
      - in: query
        name: id
        schema:
          type: integer
      - in: query
        name: id__gt
        schema:
          type: integer
      - in: query
        name: id__gte
        schema:
          type: integer
      - in: query
        name: id__in
        schema:
          type: array
          items:
            type: integer
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: id__isnull
        schema:
          type: boolean
      - in: query
        name: id__lt
        schema:
          type: integer
      - in: query
        name: id__lte
        schema:
          type: integer
      - in: query
        name: label
        schema:
          type: string
      - in: query
        name: label__contains
        schema:
          type: string
      - in: query
        name: label__icontains
        schema:
          type: string
      - in: query
        name: label__iexact
        schema:
          type: string
      - in: query
        name: label__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: label__isnull
        schema:
          type: boolean
      - in: query
        name: label__istartswith
        schema:
          type: string
      - in: query
        name: label__startswith
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: name__contains
        schema:
          type: string
      - in: query
        name: name__icontains
        schema:
          type: string
      - in: query
        name: name__iexact
        schema:
          type: string
      - in: query
        name: name__in
        schema:
          type: array
          items:
            type: string
        description: Multiple values may be separated by commas.
        explode: false
        style: form
      - in: query
        name: name__isnull
        schema:
          type: boolean
      - in: query
        name: name__istartswith
        schema:
          type: string
      - in: query
        name: name__startswith
        schema:
          type: string
      - name: offset
        required: false
        in: query
        description: The initial index from which to return the results.
        schema:
          type: integer
      - name: ordering
        required: false
        in: query
        description: Which field to use when ordering the results.
        schema:
          type: string
      - in: query
        name: required
        schema:
          type: boolean
      - in: query
        name: type
        schema:
[...]
